html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.iframe {
  height: 50px,
}
.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 3px;
}
.container input {
  -webkit-appearance: textfield;
  background-color: #fff;
  border: 1px solid #cfd9e0;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 2px 0 #e1e4e833;
  box-shadow: inset 0 2px 0 #e1e4e833;
  color: #414d63;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 0.875rem;
  margin: 0;
  max-height: 2.5rem;
  outline: none;
  padding: 0.65625rem;
  width: 100%;
}
.container input:focus {
  border: 1px solid #036fe3;
  -webkit-box-shadow: 0 0 0 3px #98cbff;
  box-shadow: 0 0 0 3px #98cbff;
  outline: none;
}
.container button {
  position: absolute;
  right: 7px;
  margin-left: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2rem;
  display: inline-block;
  padding: 0 8px;
  border: 1px solid #c3cfd5;
  border-radius: 0.125rem;
  font-size: 0.875rem;
  overflow: hidden;
  background-size: 100% 200%;
  background-color: #e5ebed;
  color: #536171;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}
