html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.container input {
  outline: none;
  background-color: #fff;
  border: 1px solid #d3dce0;
  max-height: 2.5rem;
  color: #536171;
  font-size: 0.875rem;
  padding: 0.65625rem;
  margin: 0;
  width: 100%;
  -webkit-appearance: textfield;
}

.container button {
  position: absolute;
  right: 5px;
  top: 4px;
  margin-left: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2rem;
  display: inline-block;
  padding: 0 8px;
  border: 1px solid #c3cfd5;
  border-radius: 0.125rem;
  font-size: 0.875rem;
  overflow: hidden;
  background-size: 100% 200%;
  background-color: #e5ebed;
  color: #536171;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}
